= simple_form_for(@person, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input 'email'

  = f.simple_fields_for :data do |d|
    .form-inputs
      = d.input 'name', as: :string, required: false
      = d.input 'address', as: :text, required: false


  .form-actions
    = f.button :submit
