%h1 Listing people

%table
  %thead
    %tr
      %th Jsonb
      %th
      %th
      %th

  %tbody
    - @people.each do |person|
      %tr
        %td= person.jsonb
        %td= link_to 'Show', person
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Person', new_person_path
