%p#notice= notice

.row
  .col-md-7
    %table.table
      - @person.data.each_pair do |k,v|
        %tr
          %td
            %b= k
          %td
            = v
      %tr
        %td
          %b Tags
        %td
          - @person.tags.each do |tag|
            = render partial: "tags/show_small.html", locals: { tag: tag }

%p
  %b location:
  = @person.latlong

.row
  .col-md-12
    = link_to edit_person_path(@person), class: "btn btn-default" do
      %span.glyphicon.glyphicon-pencil
      Edit


= render "search/map"