.panel.panel-default
  .panel-body
    .media-left.media-middle
      = link_to result do
        - if result.is_a? Person
          %span.glyphicon.glyphicon-user
        - elsif result.is_a? Place
          %span.glyphicon.glyphicon-map-marker

    .media-body
      %h4.media-heading
        = link_to result do
          - if result.try :data
            - # If it's something that has a data blob
            = result.safe_data.name
          - else
            - # normal thing:
            = result.try :name
        - if result.try(:tags)
          .pull-right
            - result.tags.each do |tag|
              %span.glyphicon.glyphicon-tag
              = tag.name
          
      = result.try(:description)