%p#notice= notice

%p
  %b Name:
  = @place.name
%p
  %b Description:
  = @place.description
%p
  %b Latlong:
  = @place.latlong

%p
  %b Tags
  - @place.tags.each do |tag|
    = render partial: "tags/show_small.html", locals: { tag: tag }
= link_to edit_place_path(@place), class: "btn btn-default" do
  %span.glyphicon.glyphicon-pencil
  Edit
