!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

    %title= content_for?(:title) ? yield(:title) : "NZ Makers Map"
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Nz Makers'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ng: {app: 'MakersNZ'}, layout: "column"}
    %md-toolbar{ layout: "row" }
      .md-toolbar-tools
        %h1 MakersNZ
    = yield
  